{% extends 'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}

    <main class="app-content">

        <div class="row">
            <div class="col-12">
                <div class="tile">
                    <h3 class="tile-title text-center">Users list</h3>

                    <a href="{{ path('register') }}" class="btn btn-success"><i class="fas fa-user-plus"></i>&nbsp; Create a new user account</a>
                    <br><br>

                    <table id="users" class="table table-hover table-responsive table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Company</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td scope="row" class="align-middle">{{ user.username }}</td>
                                <td class="align-middle">{{ user.lastname }}</td>
                                <td class="align-middle">{{ user.firstname }}</td>
                                <td class="align-middle">{{ user.email }}</td>
                                <td class="align-middle">{{ user.company? user.company.name : null }}</td>
                                <td class="align-middle text-center">
                                    <a href="{{ path('user.edit', {id: user.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i>&nbsp; Edit</a>
                                </td>
                                <td class="align-middle text-center">
                                    {#                                    <a href="{{ path('user.delete', {id: user.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure');">Supprimer</a>#}
                                    <a href="#" class="btn btn-danger demoSwal" data-user-id="{{ user.id }}"><i class="far fa-trash-alt"></i>&nbsp; Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </main>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#users').DataTable();
        } );

        $('.demoSwal').click(function(){
            userId = $(this).data('user-id');
            swal({
                title: "Are you sure ?",
                text: "You will not be able to recover this account !",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it",
                cancelButtonText: "No, cancel",
                closeOnConfirm: false,
                closeOnCancel: true
            }, function(isConfirm) {
                if (isConfirm) {
                    window.location = "{{ path('user.delete') }}/"+userId;
                    // swal("Deleted!", "Your imaginary file has been deleted.", "success");
                }
                // else {
                //     swal("Cancelled", "Your imaginary file is safe :)", "error");
                // }
            });
        });
    </script>
{% endblock %}