{% extends 'base.html.twig' %}

{% block title 'Hosts' %}

{% block body %}

    <main class="app-content">

        <!--<div class="row">
            <div class="col-12">
                <div class="tile">
                    <table id="hosts" class="table table-hover table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">OS</th>
                            <th scope="col">Port</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for host in hosts %}
                            <tr>
                                <td scope="row" class="align-middle">{{ host.id }}</td>
                                <td class="align-middle">{{ host.OS }}</td>
                                <td class="align-middle">{{ host.Port }}</td>
                                <td class="align-middle">
                                    <a href="{{ path('host.edit', {id: host.id}) }}" class="btn btn-primary">Edit</a>
                                </td>
                                <td class="align-middle">
                                    <form method="post" action ="{{ path('host.delete', {id: host.id})}}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>-->
        <div class="container container--host">
            <div class="row">
                <div class="col-6 HostList--wrapper">
                    <div class="row HostListRow">
                        {% for host in hosts %}
                        <div class="HostList">
                            <h6><a href="{{ path('host.edit', {id: host.id}) }}">{{ host.OS }}</a></h6>
                            <h6>{{ host.Port }}</h6>
                        </div>     
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6">
                <h3>Add Host</h3>
                {{ form_start(form) }}
                {{ form_row(form.OS) }}
                {{ form_row(form.Port) }}
                {{ form_row(form.IP) }}
                {{ form_row(form.Service) }}
                
                

                <button type="submit" class="btn btn-outline-success btn--addhost">Create</button>

                {{ form_end(form) }}
                </div>        
            </div>
        </div>


        

    </main>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#hosts').DataTable();
        } );
    </script>
{% endblock %}