{% extends 'base.html.twig' %}

{% block body %}

    <main class="app-content">

        <div class="row">
            <div class="col-12">
                <div class="tile">
                    <h3 class="tile-title text-center">Alerts</h3>
                    <canvas id="alerts-chart"></canvas>
                    {% include 'Charts/template.html.twig' with chartData %}

                    <form class="row mt-3" method="post">
                        <span class="align-middle ml-5 mt-2 font-weight-bold">Compare :</span>
                        <div class="form-group col-sm-4 col-md-3 col-lg-2">
                            <select name="since" id="since" class="form-control">
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                            </select>
                        </div>
                        <span class="align-middle ml-3 mt-2 font-weight-bold">With :</span>
                        <div class="form-group col-sm-4 col-md-3 col-lg-2">
                            <select name="to" id="to" class="form-control">
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4 col-md-3 col-lg-2 align-self-end">
                            <button class="btn btn-secondary" type="submit">Apply comparison</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="tile">
                    <h3 class="tile-title text-center">Alerts history</h3>
                    <table id="alerts" class="table table-hover table-bordered dataTable no-footer" width="100%">
                        <thead>
                        <tr>
                            <th scope="col">Ip source</th>
                            <th scope="col">Port source</th>
                            <th scope="col">Ip destination</th>
                            <th scope="col">Port destination</th>
                            <th scope="col">Id signature</th>
                            <th scope="col">Severity</th>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for alert in alerts %}
                            <tr>
                                <td>{{ alert.srcIp }}</td>
                                <td>{{ alert.srcPort }}</td>
                                <td>{{ alert.destIp }}</td>
                                <td>{{ alert.destPort }}</td>
                                <td>{{ alert.signature }}</td>
                                <td>{{ alert.severity }}</td>
                                <td>{{ alert.createdAt|date('d/m/Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#alerts').DataTable();
        } );
    </script>
{% endblock %}
